body {
    background: #eeeeee;
    line-height : 1.3em;
}

a {
    text-decoration: none;
}

a:link {
    color : #005faf;
}

a:link:hover {
    text-decoration : underline;
}

.incoming {
    color : #000;
}

.outgoing {
    color : #333;
}

input {
    background : #eeeeee
    border : 2px solid #0cf;
}
        
.incomingName {
    color : #af5f00;
}

.outgoingName {
    color : #008700;
}

.time {
	color : #5F87AF;
}

.status {
    color : #870087;
}
